.half{
  width: 50% !important;
  border-width: 0;
  /*border-right-width: 1px;*/
  border-width: 0px 1px 0px 0px !important;
  border-color: #E0E0E0 !important;
  border-style: solid !important;
}
.half2{
  width: 50% !important;
  border-width: 0;
  /*border-right-width: 1px;*/
  border-width: 0px 0px 0px 0px !important;
  border-color: #E0E0E0 !important;
  border-style: solid !important;
}
.full{
  width: 100% !important;
  border-right-width: 1px;
}

.fire input{
  border: none;
  padding-left: 30px;
  border-width: 1px;
  border-width: 1px;
  /*border-color: #7CAADD !important;*/
  height: 45px !important;
  /*border-style: solid;*/
}
.fire input active{
  /*background-color:red;*/
  border: none;
  border-style: solid;
  border-color: #7CAADD !important;
  -moz-box-shadow:    0px 0px 15px 16px #7CAADD;
  -webkit-box-shadow: 0px 0px 15px 16px #7CAADD;
  box-shadow:         0px 0px 15px 16px #7CAADD;
}

.backgroundForm{
  background-color: blue;
  width: 1000px;
  margin: 0 auto;
}

#form_container{
  padding: 2px 1px;
  border-color: #DFDFDF!important;
  border-width: 1px !important;
  border-radius: 10px !important;
  border-style: solid;
  width: 100%;
  /*height: 1400px;*/
  background-color: white;
  overflow: hidden;
}

#input_container {
  position:relative; padding:0; margin:0;
  border-color: #E0E0E0;
  border-style: solid;
  border-bottom-width: 1px;
}

#input {
  height:20px; margin:0; padding-left: 60px !important;
  /*box-sizing: border-box;*/
 }

/* Font Awesome Items are just fonts, so font styles apply */
#input_img { position:absolute;
  bottom:8px;
  left:10px;
  width:10px;
  font-size: 20px;
 }
#input_img_half { position:absolute;
  bottom:8px;
  left: 52%;
  width:10px;
 }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  /*color: pink;*/
  padding-left: 0px;
  font-family: 'Helvetica Neue Neue';
}
::-moz-placeholder { /* Firefox 19+ */
  /*color: pink;*/
  padding-left: 0px;
  font-family: 'Helvetica Neue Neue';
}
:-ms-input-placeholder { /* IE 10+ */
  /*color: pink;*/
  padding-left: 0px;
  font-family: 'Helvetica Neue Neue';
}
:-moz-placeholder { /* Firefox 18- */
  /*color: pink;*/
  padding-left: 0px;
  font-family: 'Helvetica Neue Neue';
}


/* Dropdown CSS */
/* -------------------- Page Styles (not required) */

/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select {
  /*margin: 20px;*/
   /*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
   height: 29px;
   overflow: hidden;
   /*width: 100px !important;*/
   background: white;
}

.styled-select select {
   background: white;
   border: none;
   font-size: 14px;
   height: 29px;
   /*padding: 5px; /* If you add too much padding here, the options won't show in IE */*/
   width: 40%;
}

.styled-select.slate {
   /*background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;*/
   height: 34px;
   width: 40%;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   /*width: 268px;*/
   width: 40%;
}

/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }


/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}


/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}


.date-label{
  color:#B4A9A9!important;
  vertical-align: middle;
   flex:1;
   font-size:10px;
   height:18px !important;
   /*position: absolute;*/
   /*background-color:black;*/
   margin: 0;
   padding: 0;
}
